{% extends 'base.html' %}
{% load blog_tags %}

{% block content %}
<main id="user--page" class="container mxw-400 lg_mxw-450 m-auto lg_ml-0">
    <article class="m-auto p-2 mbt-2">
        {% if tag %}
            <a href="{% url 'post_list_by_tag' tag.slug %}" class="bg-black f-white bdrs p-1">
                #{{ tag.name }}
            </a> 
            <br > <br > 
        {% endif %}

        {% for object in objects %}
        <div class="mt-1 mb-2 bx-sh">
            <a href="{{ object.get_absolute_url }}" class="fs-5 bold pl-1 post-title"> {{ object.title }} ! </a>

            <div class="w-100 dp-flex flex-wrap">
                {% for tag in object.tags.all %}
                    <a href="{% url 'post_list_by_tag' tag.slug %}" class="pl-1 f-gray bdrs fs-7">
                        #{{ tag }}
                        {% if not forloop.last %},
                        {% endif %}
                    </a>
                {% endfor %}
            </div>

            <p class="post-content mt-2 pl-1">
                {{ object.post | markdown | truncatechars:30 }}
            </p>

            <div class="container dp-flex ai-c jc-sb pl-1">
                <div class="col">
                    <div class="pb-1 pt-2 w-100"></div>
                    <a class="fs-7 mb-1 as-fs" href=""> {{ object.author }} </a>
                    <p class="fs-7 f-gray as-fs"> {{ object.date | date:'M d, o' }} </p>
                </div>

                <div class="action-tab row anim--riht-in mxw-150 container anim--right-in">
                        {{ object.viewcount }}
                        <div class="mr-2 fs-7 w-15">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"/></svg>
                        </div>
                        <div class="mr-3 fs-7 w-50">
                            <a href="{{ object.get_absolute_url }}" class="p-1 plr-2 bg-col bdrs-pill fs-7 mr-1 f-white"> Read >> </a>
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div>
            <a 
            {% if objects.has_previous %}
            href="?page={{ objects.previous_page_number }}"
            class="bg-col f-white bdrs p-1 fs-7 mr-2"
            {% else %}
            class="bg-black f-gray bdrs p-1 fs-7 mr-2"
            {% endif %}
            > &laquo; Back </a>
    
            <a 
            {% if objects.has_next %}
            href="?page={{ objects.next_page_number }}"
            class="bg-col f-white bdrs p-1 fs-7 mr-2"
            {% else %}
            class="bg-black f-gray bdrs p-1 fs-7 mr-2"
            {% endif %}
            > Next &raquo; </a>
        </div>
    
    </article>
</main>
{% endblock content %}

